@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Inria Serif", serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeee88;
  padding: 0px 200px;
}

.container {
  height: 90vh;
}

/* main container styling */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 85vh;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.heading h1 {
  font-size: 110px;
  font-style: italic;
  margin-left: 200px;
}

.heading a {
  font-style: italic;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  transition: 0.4s ease;
}

.heading a:hover {
  border-bottom: 1px solid black;
}
